
<div *ngIf="authService.loggedIn(); then templateName else templateName2">
  Here is never showing
</div>

<ng-template #templateName>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="margin-left: 50px" >
    <img class="" src="assets/img/logo.png" alt="MrBin" height="45px" width="100px">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contact']">Contact</a>
        </li>
      </ul>


      <a [routerLink]="['/login']"><button *ngIf="authService.loggedIn()==null"  class="btn btn-secondary my-2 my-sm-0" type="submit" >Login</button></a>
      <p *ngIf="authService.loggedIn()" style="color: white; margin: 5px">You logged in as {{authService.userEmail}}</p>
      <button *ngIf="authService.loggedIn()" class="btn btn-secondary my-2 my-sm-0" type="submit" (click)="logoutbtn()">Logout</button>



    </div>
  </nav>
</ng-template>
<ng-template #templateName2>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary"  >
    <img class="" src="assets/img/logo.png" alt="MrBin" height="45px" width="100px">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>


      <a [routerLink]="['/login']"><button *ngIf="authService.loggedIn()==null"  class="btn btn-secondary my-2 my-sm-0" type="submit" >Login</button></a>
      <p *ngIf="authService.loggedIn()" style="color: white; margin: 5px">You logged in as {{authService.userEmail}}</p>
      <button *ngIf="authService.loggedIn()" class="btn btn-secondary my-2 my-sm-0" type="submit" (click)="logoutbtn()">Logout</button>



    </div>
  </nav>
</ng-template>



