<app-sidebar></app-sidebar>

<div class="jumbotron" style="margin-left: 50px">
  <h1 class="display-3">User Profile</h1>
  <hr class="my-4">
  <div class="container-fluid" >
    <div class="row">
      <div class="col-md-8">
        <div class="card border-primary mb-3" >
          <div class="card-header">
            <h4 class="card-title">Edit Profile</h4>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-5">
                  <div class="form-group">
                    <label>Organization Name</label>
                    <input type="text" class="form-control" disabled placeholder="Company" value="Creative Code Inc.">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" placeholder="Username" value="michael23">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" placeholder="Email">
                  </div>
                </div>
              </div>



              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Address</label>
                    <input type="text" class="form-control" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Contact Number</label>
                    <input type="text" class="form-control" placeholder="Company" value="Mike">
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Edit Profile Picture</label>
                    <input type="file" class="form-control">
                  </div>

                </div>
              </div>
              <div class="row">

              </div>

              <div class="row">

              </div>
              <button type="submit" class="btn btn-info btn-fill pull-right">Update Profile</button>

              <div class="row">

              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card border-primary mb-3" >
          <button type="submit" class="btn btn-info btn-fill pull-right"  (click)="openmyModal()">Add New User</button>
        </div>
        <div class="card border-primary mb-3" >
          <div class="image">

            <img style="height: 200px; width: 100%; display: block;" src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
          </div>
          <div class="card-body">
            <div class="author">
              <a href="#">
                <img class="avatar border-gray" src="assets/img/faces/face-3.jpg" alt="..."/>

                <h4 class="title">Mike Andrew<br />
                  <small>michael24</small>
                </h4>
              </a>
            </div>


          </div>

        </div>



      </div>




    </div>

  </div>

</div>

<!--Model here.Default this is hidden from the page-->

<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add New User</h4>
        <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body container">

        <!-- Form body -->

        <form name="" method="post" #formCtrl="">
          <fieldset>

            <div class="form-group">
              <label for="exampleInputEmail1">Organization Name</label>
              <input type="text" class="form-control" id="exampleInputEmail1" name="org_name"  placeholder="Organization Name">
            </div>
            <!--<div class="form-group">-->
            <!--<label for="exampleInputEmail1">First Name</label>-->
            <!--<input type="text" class="form-control" id="exampleInputEmail1" name="fname"  placeholder="First Name">-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<label for="exampleInputEmail1">Last Name</label>-->
            <!--<input type="text" class="form-control" id="exampleInputEmail1" name="lname"  placeholder="Last Name">-->
            <!--</div>-->
            <div class="form-group">
              <label for="exampleInputEmail1">User Name</label>
              <input type="text" class="form-control" id="exampleInputEmail1" name="uname"  placeholder="User Name">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1" name="email"  placeholder="Email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Address</label>
              <input type="textarea" class="form-control" id="exampleInputPassword1" name="dnm" placeholder="Address">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Contact Number</label>
              <input type="text" class="form-control" id="exampleInputPassword1" name="tno" placeholder="Contact Number">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Upload Profile Picture</label>
              <input type="file" class="form-control" id="exampleInputPassword1" name="image" >
            </div>

          </fieldset>



        </form>

      </div>

      <div class="modal-footer">
        <div align="right">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
        <button type="button" class="btn btn-default" (click)="onCloseHandled()" >Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal !-->


