
<app-navbar></app-navbar>
<app-carousel></app-carousel>
<div class="container">
  <h1 class="my-4">Welcome to Smart Garbage Monitoring System</h1>

  <!-- Marketing Icons Section -->
  <div class="row">
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <h4 class="card-header">Keeps environment clean</h4>
        <div class="card-body">
          <p class="card-text" align="justify">Fresh and neat environment makes the people go disease free as all the resultant waste are properly cleared. MrBin is the solution for reducing the operational cost and environmental problems associated with inefficient waste collection.</p>
        </div>

      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <h4 class="card-header">Save time and fuel</h4>
        <div class="card-body">
          <p class="card-text" align="justify">MrBin is here to rescue you from inefficient collection routes. Route optimization will help waste and recycling companies save time and fuel on roots and allow them to use labor and fleet resources more efficiently.</p>
        </div>

      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <h4 class="card-header">Step towards smart city</h4>
        <div class="card-body">
          <p class="card-text" align="justify">Communities increasingly look smart city technologies to improve energy efficiency. Smart waste management will also help them meet sustainability goals and improve service for residents.</p>
        </div>

      </div>
    </div>
  </div>
  <!-- /.row -->

  <!-- Portfolio Section -->

  <!-- /.row -->

  <!-- Features Section -->
  <div class="row">
    <div class="col-lg-6">
      <h2>Modern Business Features</h2>
      <p>The Modern Business template by Start Bootstrap includes:</p>
      <ul>
        <li>
          <strong>Bootstrap v4</strong>
        </li>
        <li>jQuery</li>
        <li>Font Awesome</li>
        <li>Working contact form with validation</li>
        <li>Unstyled page elements for easy customization</li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
    </div>
    <div class="col-lg-6">
      <img class="img-fluid rounded" src="http://placehold.it/700x450" alt="">
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Call to Action Section -->
  <div class="row mb-4">
    <div class="col-md-8">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
    </div>
    <div class="col-md-4">
      <a class="btn btn-lg btn-secondary btn-block" href="#">Call to Action</a>

    </div>
  </div>

</div>
<!-- /.container -->
