<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body background="assets/img/imm3.jpg">
<div class="bdy">
  <div class="container">


    <form name="userform" method="post" #formCtrl="ngForm">
      <fieldset>
        <p align="center">Login</p>

        <div class="form-group" align="center">

          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" [(ngModel)]="user.email" placeholder="Enter email">

        </div>
        <div class="form-group" align="center">

          <input type="password" class="form-control" id="exampleInputPassword1" name="password" [(ngModel)]="user.password" placeholder="Enter Password">
        </div>
        <div align="center">
          <button type="submit" class="btn1"  (click)="signInWithEmail()">Login</button>
        </div>
      </fieldset>
      <br>
      <hr>
      <div class="form-group" align="center">
        <button type="button" class="btn2" (click)="signInWithFacebook()">

          Login with Facebook
        </button><br><br>

        <button type="button" class="btn2" (click)="signInWithGoogle()">
          <i class="fa fa-google" aria-hidden="true"></i>
          Login with Google
        </button>
      </div>
    </form>
    <hr class="my-4">
  </div>
</div>
</body>
</html>
