<app-sidebar></app-sidebar>

<div class="jumbotron" style="margin-left: 50px">
  <h1 class="display-3">Drivers details</h1>
  <hr class="my-4">
  <div class="container-fluid" >
    <div class="row">

      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">Bim ID</th>
          <th scope="col">Description</th>
          <th scope="col">Location</th>
          <th scope="col">Action</th>

        </tr>
        </thead>
        <tbody>

        <tr>
          <th scope="row">001</th>
          <td>Primary Section dust bin</td>
          <td>ABC College, Dehiwala</td>
          <td><button class="btn btn-info">Assign a driver</button></td>
        </tr>


        </tbody>
      </table>


    </div>

  </div>

</div>

