<app-sidebar></app-sidebar>

<div class="jumbotron" style="margin-left: 50px">
  <h1 class="display-4">Bin details</h1>
  <hr class="my-4">

  <div class="row">
    <div class="col-lg-9">
      <form class="form-inline my-2 my-lg-0">

      <!-- added search bar for filled bin-->

      <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search"> -->

      <!--div>

        <input class="form-control mr-sm-2" type="text" [(ngModel)]="srchitm" placeholder="Search">
        <div *ngFor = "let item2 of bin_obj | filter: srchitm" >
          <p>
            {{item2.$key}}
          </p>
        </div>

      </div-->

      <!-- <button class="btn btn-secondary my-2 my-sm-0" type="submit" (click)="searchIt()">Search</button> -->


    </form>
  </div>

  <div align="right">
    <!--<button class="btn btn-info" (click)="openAssign(item)">Assign a driver</button>-->

    <button class="btn btn-info my-2 my-sm-0" type="submit" (click)="showAssigned()">View Assigned Details</button></div>

  </div>

  <br>

  <div class="container-fluid" >
    <div class="row">
      <div class=scroll >
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">Bin No</th>
          <th scope="col">Description</th>
          <th scope="col">Location</th>
          <th scope="col">Level</th>
          <th scope="col">Action</th>

        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let item of this.myarr">

          <!--th scope="row">{{item.$key}}</th>
          <td>{{item.description}}</td>
          <td>{{item.location.lat}},{{item.location.lon}}</td>
          <td>{{item.level}}</td-->

          <th scope="row">{{item[0]}}</th>
          <td>{{item[1].description}}</td>
          <td>
            <button  class="btn btn-warning" (click)="showLocation(item[1].location.lat,item[1].location.lon)">
              <img src="https://cdn2.iconfinder.com/data/icons/picons-essentials/71/location-512.png" style="width: 30px;height: 15px" />
              Show Location
            </button>
          </td>
          <!--<td>{{item[1].location.lat}},{{item[1].location.lon}}</td>-->
          <!--<td>{{item[1].level}}</td>-->
          <td>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="background-color:#F39D9B " aria-valuenow="44" aria-valuemin="0" aria-valuemax="100" [style.width.%]="item[1].level">{{item[1].level}}%</div>
            </div>
          </td>
          <td>
            <button class="btn btn-info" (click)="openAssign(item)">Assign a driver</button>
            <button class="btn btn-info" (click)="openDltBin(item)">Delete Bin</button>
          </td>

          <!--div *ngIf="{{item.level}} == this.Level; then full else notfull"></div-->





          <!--ng-template #full>

          </ng-template>
          <ng-template #notfull>
            Still filling
          </ng-template-->
        </tr>

        </tbody>
      </table>
      </div>

    </div>

  </div>

  <div class="container" align="center">
    <button class="btn btn-success" (click)="openmyModal()">Add a new Bin</button>
  </div>

</div>

<!--Model here.Default this is hidden from the page-->

<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add new Bin</h4>
        <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body container">

        <!-- Form body -->

        <form name="" method="post" #formCtrl="">
          <fieldset>


            <!--div class="form-group">
              <label for="exampleInputEmail1">Bin ID</label>
              <input type="text" class="form-control" id="exampleInputEmail1" name="bid"  placeholder="Enter Bin ID" [(ngModel)]="bin.bin_id">
            </div-->
            <div class="form-group">
              <label for="exampleSelect1">User ID</label>

              <br>

              <select  class="form-control" name="dnm" id="exampleSelect1" [(ngModel)]="bin.user_id">

                <option>Select bin user..</option>

                <!--to select driver id from drivers table -->
                <option *ngFor="let itmm of req_bin_obj | async">
                  {{itmm.$key}}
                </option>

              </select>
              <!--select class="form-control" id="exampleSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select-->
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Location</label>
              <flash-messages></flash-messages>
              <agm-map [latitude]="latitude_origin" [longitude]="longitude_origin" [zoom]="13" [streetViewControl]="true" [mapTypeControl]="true" [fullscreenControl]="true" (mapClick)="placeMarker($event)">
                <agm-marker [latitude]="latitude_origin" [longitude]="longitude_origin" ></agm-marker>
              </agm-map>
              <!--<label for="exampleInputPassword1">Description</label>-->
              <!--<input type="text" class="form-control" id="exampleInputPassword1" name="dnm" placeholder="Description" [(ngModel)]="bin.description">-->
            </div>
            <!--div class="form-group">
              <label for="exampleInputPassword1">Location</label>
              <input type="text" class="form-control" id="exampleInputPassword1" name="tno" placeholder="Location" [(ngModel)]="bin.location">
            </div-->

            <div class="form-group">
              <label for="exampleSelect1">Priority</label>

              <br>
              <select class="form-control" id="exampleSelect1" name="prior" placeholder="Description" [(ngModel)]="bin.location.priority">
                <option>Select Priority</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
              </select>
            </div>



            <div align="center">
              <button type="submit" class="btn btn-success" (click)="add_new_bin()">Submit</button>
            </div>
          </fieldset>



        </form>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="onCloseHandled()" >Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal !-->


<!-- Assign driver modal-->

<div class="backdrop" [ngStyle]="{'display':dsply}"></div>
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':dsply}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Assigning driver</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeAssign()"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body container">

        <!-- Form body -->

        <form name="" method="post" #formCtrl="">
          <fieldset>


            <div class="form-group">
              <label for="exampleInputEmail1">Bin ID</label>
              <input disabled type="text" class="form-control" id="exampleInputEmail1" name="bid" value="{{assigned_drivers1.bin_id}}" placeholder="Enter Bin ID" [(ngModel)]="this.assigned_drivers1.bin_id" required>
            </div>
            <!--div class="form-group">
              <label for="exampleInputEmail1">Location</label>
              <input disabled type="text" class="form-control" id="exampleInputEmail1" name="blct" value="{{bin.location}}" placeholder="location" [(ngModel)]="this.assigned_drivers1.location">
            </div-->
            <!--div class="form-group">
              <label for="exampleInputPassword1">Driver ID</label>
              <input type="text" class="form-control" id="exampleInputPassword1" name="dnm" placeholder="Driver ID">
            </div-->

            <div class="form-group">
              <label for="exampleSelect1">Select driver</label>

              <br>

              <select  class="form-control" name="dnm" id="exampleSelect1" [(ngModel)]="assigned_drivers1.assigned_dri_id" required>

                <option>Select driver..</option>
                <!--to select driver id from drivers table -->
                <option *ngFor="let itm of drivers_obj | async">
                  {{itm.name}}
                </option>

              </select>
            </div>

            <div align="center">
              <button type="submit" class="btn btn-info" (click)="assignNow()">Assign</button>
            </div>
          </fieldset>



        </form>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="closeAssign()" >Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal !-->



<!-- View Assigned drivers-->

<div class="backdrop" [ngStyle]="{'display':dsply2}"></div>
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':dsply2}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">View Assigned Drivers</h4>
        <button type="button" class="close" aria-label="Close" (click)="clsAssigned()"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body container">

        <div class="row">

          <table class="table table-hover">
            <thead>
            <tr>
              <th scope="col">Key</th>
              <th scope="col">Bin ID</th>
              <th scope="col">Driver ID</th>
              <th scope="col">Location</th>


            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let itm2 of assigned_obj | async">

              <th scope="row">{{itm2.$key}}</th>
              <td>{{itm2.bin_id}}</td>
              <td>{{itm2.assigned_dri_id}}</td>
              <td>{{itm2.location}}</td>




            </tr>

            </tbody>
          </table>

        </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="clsAssigned()" >Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal !-->
</div>
  <!-- Show Location  modal-->

  <div class="backdrop" [ngStyle]="{'display':dsply4}"></div>
  <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':dsply4}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Location</h4>
          <button type="button" class="close" aria-label="Close" (click)="closeshowLocation()"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body container">
          <agm-map [latitude]="lat_location" [longitude]="lng_location" [zoom]="13">
            <agm-marker [latitude]="lat_location" [longitude]="lng_location"></agm-marker>
          </agm-map>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="closeshowLocation()" >Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal !-->


<!-- When clicked delete bin this model opens-->

<div class="backdrop" [ngStyle]="{'display':dsplay5}"></div>
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':dsplay5}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete Bin</h4>
        <button type="button" class="close" aria-label="Close" (click)="noDltDri()"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body container">

        <!-- Form body -->

        Are you sure you want to Delete this Bin???

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="yesDltDri()">Yes</button>
        <button type="button" class="btn btn-default" (click)="noDltDri()">No</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal !-->
