a {
  text-decoration: none;
  color: #428bca;
  border-bottom: dashed 1px #428bca;
  cursor: pointer;
  line-height: 2;
  margin-right: 5px;
  margin-left: 5px;
}
.inlineEditForm{
  display: inline-block;
  white-space: nowrap;
  margin: 0;
}
#inlineEditWrapper{
  display: inline-block;
}
.inlineEditForm input, select{
  width: auto;
  display: inline;
}
.editInvalid{
  color: #a94442;
  margin-bottom: 0;
}
.error{
  border-color: #a94442;
}
[hidden] {
  display: none;
}

/*Css styles for the Modal*/
.backdrop{
  background-color:rgba(0,0,0,0.6);
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
}

agm-map {
  height: 500px;
  width: 100%;
}

div.scroll {

  width: 1225px;
  height: 330px;
  overflow: scroll;
}
.demo #search_places {
  height: 100px;
}
