<app-sidebar></app-sidebar>

<div class="jumbotron" style="margin-left: 50px">
  <h1 class="display-3">Drivers details</h1>
  <hr class="my-4">
  <div class="container-fluid" >
    <div class="row">

      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">Driver ID</th>
          <th scope="col">Driver name</th>
          <th scope="col">Mobile Number</th>
          <th scope="col">Truck No</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let item of driver_obj | async" >
          <th scope="row">{{item.$key}}</th>
          <td>{{item.name}}</td>
          <td>{{item.mobile_no}}</td>
          <td>{{item.truck_no}}</td>
          <td><button class="btn btn-danger">Edit</button></td>
          <td><button class="btn btn-info">Delete</button></td>
        </tr>


        </tbody>
      </table>


    </div>

  </div>

  <div class="container" align="center">
    <button class="btn btn-success" (click)="openModal()">Add a new Driver</button>
  </div>

</div>

<!--Model here.Default this is hidden from the page-->

<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Model Title</h4>
        <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <p>Model body text</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="onCloseHandled()" >Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal !-->
