<app-sidebar></app-sidebar>

<div class="jumbotron" style="margin-left: 50px">
  <h1 class="display-3">Driver details</h1>
  <hr class="my-4">
  <div class="container-fluid" >
    <div class="row">

      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">Driver ID</th>
          <th scope="col">Driver name</th>
          <th scope="col">Mobile Number</th>
          <th scope="col">Truck No</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let item of driver_obj | async" >
          <th scope="row">{{item.$key}}</th>
          <td>{{item.name}}</td>
          <td>{{item.mobile_no}}</td>
          <td>{{item.truck_no}}</td>
          <td><button class="btn btn-danger" (click)="openEditDri()">Edit</button></td>
          <td><button class="btn btn-info" (click)="openDltDri()" >Delete</button></td>
        </tr>

        </tbody>
      </table>


    </div>

  </div>

  <div class="container" align="center">
    <button class="btn btn-success" (click)="openModal()">Add a new Driver</button>
  </div>

</div>

<!--Model here.Default this is hidden from the page-->

<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add new Driver</h4>
        <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body container">

        <!-- Form body -->

        <form name="" method="post" #formCtrl="">
          <fieldset>

            <div class="form-group">
              <label for="exampleInputEmail1">Driver ID</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="did"  placeholder="Enter driver ID">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Driver name</label>
              <input type="text" class="form-control" id="exampleInputPassword1" name="dnm"placeholder="Driver name">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Mobile Number</label>
              <input type="text" class="form-control" id="exampleInputPassword1" name="mbno"placeholder="Driver name">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Truck No</label>
              <input type="text" class="form-control" id="exampleInputPassword1" name="tno" placeholder="Truck no">
            </div>

            <div align="center">
              <button type="submit" class="btn btn-success">Submit</button>
            </div>

          </fieldset>



        </form>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="onCloseHandled()" >Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal !-->

<!-- When clicked edit this opens-->

<div class="backdrop" [ngStyle]="{'display':dsplay}"></div>
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':dsplay}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Driver</h4>
        <button type="button" class="close" aria-label="Close" (click)="onCloseEditDri()"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body container">

        <!-- Form body -->

        <form name="" method="post" #formCtrl="">
          <fieldset>

            <div class="form-group">
              <label for="exampleInputEmail1">Driver ID</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="did"  placeholder="Enter driver ID" disabled="true">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Driver name</label>
              <input type="text" class="form-control" id="exampleInputPassword1" name="dnm" placeholder="Driver name">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Mobile Number</label>
              <input type="text" class="form-control" id="exampleInputPassword1" name="mbno" placeholder="Driver name">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Truck No</label>
              <input type="text" class="form-control" id="exampleInputPassword1" name="tno" placeholder="Truck no">
            </div>

            <div align="center">
              <button type="submit" class="btn btn-success">Edit Driver</button>
            </div>

          </fieldset>



        </form>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="onCloseEditDri()">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal !-->


<!-- When clicked delete this opens-->

<div class="backdrop" [ngStyle]="{'display':dsplay2}"></div>
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':dsplay2}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete Driver</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeDltDri()"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body container">

        <!-- Form body -->

        Driver deleted successfully..

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="closeDltDri()">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal !-->
