<app-sidebar></app-sidebar>

<div class="jumbotron" style="margin-left: 50px">
  <h1 class="display-3">Driver details</h1>
<div class="row">
  <div  align="center">
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
  </form>
  </div>
  <div class="container" align="right">
    <button class="btn btn-success" (click)="openModal()">Add a new Driver</button>
  </div>
</div>
  <hr class="my-4">
  <div class="container-fluid" >
    <div class="row">
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">Driver ID</th>
          <th scope="col">Driver name</th>
          <th scope="col">Mobile Number</th>
          <th scope="col">Truck No</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of this.myarr">

        <!--tr *ngFor="let item of driver_obj | async" -->
          <!--th scope="row">{{item.$key}}</th-->
          <th scope="row">{{item[0]}}</th>
          <td>{{item[1].name}}</td>
          <td>{{item[1].mobile_no}}
            <button class="btn btn-success"><i class="fa fa-phone fa-1x"></i></button></td>
          <td>{{item[1].truck_no}}</td>
          <td><button class="btn btn-danger" (click)="openEditDri(item)">Edit</button></td>
          <td><button class="btn btn-info" (click)="openDltDri(item)" >Delete</button></td>
        </tr>

        </tbody>
      </table>


    </div>

  </div>


</div>

<!--Add New Driver Model here.Default this is hidden from the page-->

<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add new Driver</h4>
        <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body container">

        <!-- Form body -->

        <form name="" method="post" #formCtrl="">
          <fieldset>

            <!--div class="form-group">
              <label for="exampleInputEmail1">Driver ID</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="did" value=""  placeholder="Enter driver ID" [(ngModel)]="driver_set.driver_id">
            </div-->
            <div class="form-group">
              <label for="exampleInputPassword1">Driver name</label>
              <input type="text" class="form-control" id="exampleInputPassword1" name="dnm" placeholder="Driver name" value="" [(ngModel)]="driver_set.name" required>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Mobile Number</label>
              <input type="text" class="form-control" id="exampleInputPassword1" name="mbno" placeholder="Mobile no" value="" [(ngModel)]="driver_set.mobile_no" required>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Truck No</label>
              <input type="text" class="form-control" id="exampleInputPassword1" name="tno" placeholder="Truck no" value="" [(ngModel)]="driver_set.truck_no" required>
            </div>

            <div align="center">
              <button type="submit" class="btn btn-success" (click)="addDriver()">Submit</button>
            </div>

          </fieldset>



        </form>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="onCloseHandled()" >Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal !-->

<!-- Edit Drivere Model here-->

<div class="backdrop" [ngStyle]="{'display':dsplay}"></div>
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':dsplay}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Driver</h4>
        <button type="button" class="close" aria-label="Close" (click)="onCloseEditDri()"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body container">

        <!-- Form body -->

        <form name="" method="post" #formCtrl="">
          <fieldset>

            <div class="form-group">
              <label for="exampleInputEmail1">Driver ID</label>
              <input type="text" class="form-control" aria-describedby="emailHelp" name="did" value={{this.drivrid}} placeholder="Enter driver ID" disabled="true">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Driver name</label>
              <input type="text" class="form-control" id="exampleInputPassword1" name="dnm" value={{driver_set.name}} [(ngModel)]="driver_set.name" placeholder="Driver name" required>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Mobile Number</label>
              <input type="text" class="form-control" id="exampleInputPassword1" name="mbno" value={{driver_set.mobile_no}} [(ngModel)]="driver_set.mobile_no" placeholder="Driver name"  required>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Truck No</label>
              <input type="text" class="form-control" id="exampleInputPassword1" name="tno" value={{driver_set.truck_no}} [(ngModel)]="driver_set.truck_no" placeholder="Truck no" required>
            </div>

            <div align="center">
              <button type="submit" class="btn btn-success" (click)="editDriNow(this.drivrid)">Edit Driver</button>
            </div>

          </fieldset>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="onCloseEditDri()">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal !-->


<!-- When clicked delete model opens-->

<div class="backdrop" [ngStyle]="{'display':dsplay2}"></div>
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':dsplay2}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete Driver</h4>
        <button type="button" class="close" aria-label="Close" (click)="noDltDri()"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body container">

        <!-- Form body -->

        Are you sure you want to Delete this Driver???

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="yesDltDri()">Yes</button>
        <button type="button" class="btn btn-default" (click)="noDltDri()">No</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal !-->
