<app-sidebar></app-sidebar>
<div class="jumbotron" style="margin-left: 50px">
  <div class="container-fluid">
    <div class="row">

          
        <!--div class="card bg-light mb-3" style="max-width: 20rem;margin: 10px">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h4 class="card-title">Light card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div-->


      
      
      <div class="card bg-light mb-3" style="max-width: 20rem;margin: 10px">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h4 class="card-title">Light card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card bg-light mb-3" style="max-width: 20rem;margin: 10px">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h4 class="card-title">Light card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card bg-light mb-3" style="max-width: 20rem;margin: 10px">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h4 class="card-title">Light card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

      <div class="col-md-12">
        <app-barchart></app-barchart>
      </div>

    
      <!-- <div class="col-md-2"></div> -->
      <div class="card bg-light col-md-4" style="max-width: 20rem;margin: 10px">
        <div class="card-header">Colombo District</div>
        <div class="card-body">
          <h4 class="card-title">Zones in Colombo</h4>
          
            <ul>
              <li>Colombo 1: Colombo Fort </li>
              <li>Colombo 2: Slave Island</li>
              <li>Colombo 3: Collupety</li>
              <li>Colombo 4: Bambalapitiya</li>
              <li>Colombo 5: Narahenpita, Havelock Town , Kirulapona North</li>
              <li>Colombo 6: Wellawatta, Pamankada, Kirulapona South</li>
              <li> Colombo 7: Cinnamon Garden</li>
              <li>Colombo 8: Borella</li>
              <li>Colombo 9: Dematagoda</li>
              <li>Colombo 10: Maradana, Panchikawatte</li>
              <li>Colombo 11: Pettah</li>
              <li>Colombo 12: Hulsfdorf</li>
              <li>Colombo 13: Kotahena, Kochchikade</li>
              <li>Colombo 14: Grandpass</li>
              <li>Colombo 15: Mattakkuliya, Modara, Mutwal, Madampitiya</li>
                
            </ul>
          
        </div>
      </div>
      <div class="col-md-8">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="13">

          <agm-marker [latitude]="lat" [longitude]="lng">

            <agm-info-window>
              <h3><strong>Location</strong></h3>
              <p>You are here!</p>
            </agm-info-window>

          </agm-marker>

        </agm-map>
      </div>
      
      <!-- <div class="col-md-2"></div> -->


      <!--div class="row">
        <div class="col-md-6">
          <app-doughnutchart></app-doughnutchart>
        </div>
      </div>
      <div class="col-md-6"-->

        

                        <!--/label>
                      </div>
                    </td>
                    <td>Unfollow 5 enemies from twitter</td>
                    <td class="td-actions text-right">
                      <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                        <i class="fa fa-edit"></i>
                      </button>
                      <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                        <i class="fa fa-times"></i>
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>

            </div>
            <div class="card-footer text-muted">
              <hr>
                <i class="fa fa-history"></i> Updated 3 minutes ago
            </div>
          </div>
        </div>
      </div-->

    </div>

  </div>

</div>
