@font-face {
  font-family: 'Pe-icon-7-stroke';
  src:url('../../../assets/fonts/Pe-icon-7-stroke.eot?d7yf1v');
  src:url('../../../assets/fonts/Pe-icon-7-stroke.eot?#iefixd7yf1v') format('embedded-opentype'),
  url('../../../assets/fonts/Pe-icon-7-stroke.woff?d7yf1v') format('woff'),
  url('../../../assets/fonts/Pe-icon-7-stroke.ttf?d7yf1v') format('truetype'),
  url('../../../assets/fonts/Pe-icon-7-stroke.svg?d7yf1v#Pe-icon-7-stroke') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="pe-7s-"], [class*=" pe-7s-"] {
  display: inline-block;
  font-family: 'Pe-icon-7-stroke';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



