<app-sidebar></app-sidebar>
<div class="jumbotron" style="margin-left: 50px">
  <div class="container-fluid">
    <div class="row">


      <!--div class="col-md-4" >
        <app-linechart></app-linechart>
      </div-->
      <!-- <div class="card bg-light mb-3" style="max-width: 20rem; margin: 10px">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h4 class="card-title">Light card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

        </div>
      </div>
    -->

      <div class="card bg-light col-md-7" style="margin: 15px">

        <div class="card-body">
          <h4 class="card-title">Data on Year Plans</h4>
          <div>

              <!-- <div class="card bg-light mb-3" style="margin: 10px"> -->
                <div class="card-body">
                  <app-barchart-yrcol></app-barchart-yrcol>
                </div>
              <!-- </div> -->
          </div>
        </div>
      </div>

      <!--
        Data on current year monthly plan
      -->





      <div class="card bg-light col-md-4"style="margin: 15px">
          <div class="card-body">
            <h4 class="card-title">Available Truck Driver Details</h4>
            <table>
                <thead>
                    <tr>

                      <th scope="col"> Truck Number &nbsp; </th>
                      <th scope="col"> Capacity &nbsp; </th>
                      <th scope="col"> Availability &nbsp; </th>
                    </tr>
                  </thead>

                  <tbody>
                      <tr *ngFor="let item of this.garbage_truck | async" >

                          <td>{{item.truck_no}} &nbsp; </td>
                          <td>{{item.capacity}} &nbsp; </td>
                          <td>Available</td>

                        </tr>
                  </tbody>

            </table>
          </div>
      </div>
      <!-- <div class="card bg-light mb-3" style="max-width: 20rem;margin: 10px">
          <div class="card-header">
              <a [routerLink]="['/reports']">Reports Available</a>
          </div>
          <div class="card-body">
            <h4 class="card-title">Report Details</h4>
            <p class="card-text">Linked to Reports page</p>
          </div>
      </div>  -->


        <div class="col-md-10">
          <div class="card bg-light mb-3" style="margin: 10px">
            <div class="card-body">
              <app-barchart></app-barchart>
            </div>
          </div>
        </div>


        <!--div class="col-md-6">
          <div class="card bg-light mb-3" style="margin: 10px">
            <div class="card-body">
              <app-doughnutchart></app-doughnutchart>
            </div>
          </div>
        </div-->

      <div class="card bg-light col-md-6" style="max-width: 20rem;margin: 10px">
            <div class="card-body">
              <h4 class="card-title">Today Collection</h4>
              <ngx-gauge [thick]="15"
                         [value]="gaugeValue"
                         [type]="gaugeType"
                         [label]="gaugeLabel"
                         [append]="gaugeAppendText"
                         [thresholds]="thresholdConfig">
              </ngx-gauge>
              <h4 class="card-title">Yesterday Collection</h4>
              <ngx-gauge [thick]="15"
                         [value]="gaugeValue"
                         [type]="gaugeType"
                         [label]="gaugeLabel"
                         [append]="gaugeAppendText"
                         [thresholds]="thresholdConfig">
              </ngx-gauge>

            </div>
      </div>
      <!-- <div class="col-md-1"></div> -->
      <div class="col-md-6">
        <div class="card bg-light mb-3" style="margin: 10px">
          <div class="card-body">
            <h4 class="card-title">Bins Locations of the System</h4>
            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="13">
              <agm-marker [latitude]="lat" [longitude]="lng" >
                <agm-info-window>
                  <h3><strong>Location</strong></h3>
                  <p>You are here!</p>
                </agm-info-window>
                <agm-marker *ngFor="let marker of myarray"
                            [latitude]="marker[0]"
                            [longitude]="marker[1]"
                            [iconUrl]="'../../assets/img/map_icon3.png'">
                  <agm-info-window>
                    <h3><strong>Bin Filled</strong></h3>
                    <p>{{ marker[2]}} </p>
                  </agm-info-window>
                </agm-marker>
              </agm-marker>
            </agm-map>
          </div>
        </div>
      </div>
      </div>
  </div>
</div>
